html, root, body {
    height: 100vh;
    width: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Daydream';
    src:url('./assets/Daydream.ttf');
}

@font-face {
    font-family: 'Rainy Hearts';
    src:url('./assets/rainyhearts.ttf');
}